/* REGOLE CSS*/
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color:#F6F8F9 ;
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
}

/* CUSTOM HEADER */

header {
    background-color: white;
}

#logo {
    padding: 5px 0 5px 10px;
}

/*END*/

/*BUTTON SECTION*/

.button-contenitor {
    width: 80%;
    margin: 50px auto 5px;
    background-color: white;
    font-size: smaller;
    height: 60px;
    border-radius: 5px;
}

.button {
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;
    margin: 12px 0 12px 0;
}

.task {
    background-color:#14AAF5;
    margin-left: 70px;
}

.section {
    background-color: white;
    border: solid 1px #D3D8DC;
}

/*END*/

/*MAIN SECTION*/

#main-section {
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    height: 650px;
}

.title-todo-list {
    margin-left: 70px;
    font-weight: bold;
    padding-top: 30px;
}

.cross-down {
    font-size: x-small;
    padding: 0 5px 0 5px;
}

/*ITEM TODOLIST*/

.list-of-activity {
    list-style: none;
}

.check-box-done {
    color: #5BD3BE;
    border: solid 1px;
    border-radius: 999px;
    font-size: xx-small;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    /*margin: 20px 5px 0 70px;*/
    margin: 10px 5px 10px 30px;
}

.todo-list-text {
    margin-right: 10px;
}

.todo-list-category {
    color: white;
    font-size: xx-small;
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
    text-align: center;
    display:inline-block ;
}

/*CATEGORY COLOR*/

.red {
    font-size: xx-small;
    color: red;
}

.editorial {
    background-color: #09A9ED;
}

.goals {
    background-color: #9E57D4;
}

.recruiting {
    background-color:#2CC6AB;
}

.mobile {
    background-color: #E78E03;
}

.website{
    background-color:#EC4A9D ;
}

.sales {
    background-color:#A3D116 ;
}